<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohaasaba">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mohaasaba">
        <activity
            android:name=".plans.PlanActivity"
            android:label="Plan Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ibadah.tasbih.TasbihActivity"
            android:label="@string/tasbih"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.IbadahActivity"
            android:label="@string/ibadah"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HisaabActivity"
            android:label="@string/hishab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TypeActivity"
            android:label="TypeActivity"
            android:parentActivityName=".activities.AddScheduleActivity"
            android:theme="@style/AppTheme.Dialog.Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AddScheduleActivity" />
        </activity>
        <activity
            android:name=".activities.ReminderActivity"
            android:label="Reminder"
            android:parentActivityName=".activities.AddScheduleActivity"
            android:theme="@style/AppTheme.Dialog.Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AddScheduleActivity" />
        </activity>
        <activity
            android:name=".activities.NoteActivity"
            android:label="Note Activity"
            android:parentActivityName=".activities.AddScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AddScheduleActivity" />
        </activity>
        <activity
            android:name=".activities.AddScheduleActivity"
            android:label="Add Schedule"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/schedules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ibadah.bookshelf.TalimActivity"
            android:label="Talim"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".receivers.NotyFire" />
        <receiver android:name=".receivers.NotificationScheduler" />
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>